FORMAT: 1A
HOST: http://sportadvisor-lb-81878895.us-east-1.elb.amazonaws.com
# sportadvisor-api


## Accounts [/api/users]

### Sign up [POST /api/users/sign-up]

+ Request (application/json)
    
        {
            "email": "string", 
            "password": "string", 
            "name": "string"
        }

+ Response 200 (application/json)

        {
            "code":  200,
            "data": {
                "data": {
                    "token": "string",
                    "refreshToken": "string",
                    "expireAt": "datetime"
                },
                "_links": null
            }
        }

+ Response 400 (application/json)

        {
            "code":  400,
            "errors": [
                {
                    "field": "string",
                    "msg": "string"
                }
            ]
        }

### Sign in [POST /api/users/sign-in]

+ Request (application/json)

        {
            "email": "string",
            "password": "string",
            "remember": true
        }

+ Response 200 (application/json)

        {
            "code":  200,
            "data": {
                "data": {
                    "token": "string",
                    "refreshToken": "string",
                    "expireAt": "datetime"
                },
                "_links": null
            }
        }

+ Response 400 (application/json)

        {
            "code":  400
        }

### Change account [PUT /api/users/{id}]

+ Request (application/json)

    + Headers
        Authorization: token

    + Body
        {
            "name": "string",
            "language": "string (is optional value)"
        }

+ Response (application/json)

    + Headers
        Location: locationUrl

    + Body
        {
            "code":  200
        }

+ Response 400 (application/json)

        {
            "code":  400,
            "errors": [
                {
                    "field": "string",
                    "msg": "string"
                }
            ]
        }


### Change email [PUT /api/users/{id}/email]

+ Parameters
    + id - user id

+ Request (application/json)

    + Headers
        Authorization: token

    + Body
        {
            "email": "string",
            "redirectUrl": "string"
        }

+ Response 200 (application/json)

        {
            "code":  200
        }

+ Response 400 (application/json)

        {
            "code":  400,
            "errors": [
                {
                    "field": "string",
                    "msg": "string"
                }
            ]
        }

+ Response 401 (application/json)

        {
            "code": 401
        }

### Confirm email [POST /api/users/email-confirm]

+ Request (application/json)

        {
            "token": "string",
        }

+ Response 200 (application/json)

        {
            "code":  200
        }

+ Response 400 (application/json)

        {
            "code":  400
        }